html,
body {
  margin: 0;
  transition: all 0.5s ease-in-out;
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow-x: hidden;
}

.main-content {
  padding: 1.2rem;
  display: flex;
  gap: 1rem;
  background-color: #eff3fd;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

}

.inventory {
  flex: 1;

  margin-right: 10px;
}

.order {
  flex: 1;

  /* margin-left: 10px; */
}

.inventory,
.order {
  overflow-y: auto;

  padding: 0;
  background-color: white;
  border-radius: 20px;
}

.categories {
  text-align: center;

  margin-bottom: 10px;
}

.asterisk-line {
  border-top: 1px dashed #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-dialog {
  width: 220px;
}

button {
  background-color: #5f66e9 !important;
  color: white !important;
}

#quantity input,
#payment_received input {
  width: 100px;
}

.order_action button {
  margin: 3px;
}

#product_table_wrapper {
  border: none;
}

#product_table th {
  border: none;
  background-color: #f7f8fa !important;
}

#product_table td {
  border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.5rem 0.75rem;
  margin-left: 2px;
  font-size: 14px;
}

#product_table_paginate {
  padding: 1rem;

}

@media print {
  body * {
    visibility: hidden;
  }

  #modalBodyContent,
  #modalBodyContent * {
    visibility: visible;
  }
}

.wrapper {
  width: 100% !important;
  margin-inline: auto !important;
}

.categories,
.table {
  padding: 2rem;
}

form .table {
  padding: 1rem !important;
}

.dataTables_info {
  padding: 1rem;
}


/* Table Responsive */
.wrapper {
  width: min(100px, 100% - 2rem) !important;
  margin-inline: auto !important;
}

table {
  width: 100% !important;
  border-collapse: collapse !important;
  background: #fff !important;
}

th {
  /* background-color: hsla(0, 0%, 100%, 0.9) !important; */
}

caption,
th,
td {
  padding: 1rem !important;
}

caption,
th {
  text-align: left !important;
}

tr:nth-child(even) td {
  background-color: #f7f8fa !important;
}

td:nth-of-type(2) {
  color: #5f66e9 !important;
  font-weight: bold;
  letter-spacing: 1.5;
  margin-left: -.5rem;
}

tr:nth-child(odd):hover td {
  background-color: #f7f8fa !important;
  cursor: pointer !important;
}

table.dataTable.no-footer {
  border-bottom: none !important;
  margin-bottom: 1rem !important;
}

/* Add content before the <select> element */
select[name="size"]::before {
  content: "Size Options: ";
  font-weight: bold;
  color: #5f66e9;
  /* Your desired color */
  /* Add any other styles you want */
}


@media (max-width: 1200px) {

  .row {
    display: flex;
  }

  th {
    display: none;
  }

  td {
    display: grid !important;
    grid-template-columns: 15ch auto !important;
    gap: 0.5rem !important;
    padding: 1rem !important;
  }

  td:first-child {
    padding-top: 2rem !important;
  }

  td:last-child {
    padding-bottom: 2rem !important;
  }

  #product_table td:before {
    content: attr(data-cell) "" !important;
    font-weight: 700 !important;
    text-transform: capitalize !important;
    margin-right: 1rem;
  }

  #order_form .table td:before {
    content: attr(data-cell) ":" !important;
    font-weight: 700 !important;
    text-transform: capitalize !important;
    margin-right: 1rem;
  }

  .payment_method,
  .action {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 1rem;
  }

  #order_form .table td {
    display: flex !important;
    align-items: center !important;
    gap: 1rem;
  }



  #order_form .table td:nth-child(odd) {
    display: none !important;
  }

  #order_form .table td:last-child {
    display: block !important;
  }

}


/* Search */
.dataTables_wrapper label {
  color: #5f66e9 !important;
  font-weight: bold;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  gap: 1rem !important;
  margin: 1rem 0 !important;
}

.dataTables_filter label {
  padding: 1rem;
}

input[type="search"] {
  width: 200px !important;
  background-color: #fff !important;
  padding: 0.75rem 1rem !important;
  border: 1px solid #5f66e9 !important;
  border-radius: 5px !important;
  outline: none !important;
  transition: border-color 0.3s, box-shadow 0.3s !important;
  font-size: 1rem !important;
  color: #333 !important;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

input[type="search"]:focus {
  border-color: #5f66e9 !important;
  box-shadow: 0 0 8px rgba(95, 102, 233, 0.5) !important;
}


@media (max-width: 760px) {
  .table {
    font-size: 0.8rem !important;
  }

  h1,
  .btn {
    font-size: 1 rem;
  }



}